.overlay { position:fixed; inset:0; background:#000; opacity:0; transition: opacity 400ms ease; pointer-events:none; }
.overlay.show { opacity:0.5; pointer-events:auto; }
nav {background-color: #3d9bac;
border-radius: 20px;
box-shadow: 0 4px 12px rgba(0,0,0,0.1);
background-color: linear-gradient(135deg, #44f4f1 30%, #f65757 100%);
}
body {
    animation: fadeUp 2s ease-in-out;
    background-image: linear-gradient(100deg, red 20%, blue 30%);
}
